/* Fonts */
/*font-family: 'EB Garamond', serif;*/
/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Josefin Sans', sans-serif;*/

html, body {
	height: 100%;
}

body {
    margin-bottom: 200px;
}

#logo {
    margin-top: 25px;
}

/* Resets Bootstrap's default nav */

.navbar .nav .active > a{
/*	color:#ccc;*/
    color: transparent;
	background:none;
	box-shadow:none;
}

.navbar .nav .active > a:hover{
	background: none;
	box-shadow: none;
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
/*     color: #333333;*/
    color: #005dab;
     text-decoration: none;
     background-color: transparent;
}

.navbar .nav {
	display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    font-family: 'Josefin Sans', sans-serif;
/*    font-family: 'EB Garamond', serif;*/
    font-weight: 300;
	font-size: 125%;
    text-align: center;
    text-shadow: none;
}

/* Updating nav */

.color-me {
    color: black;
    text-transform: uppercase;
}

.navbar .nav > li.dropdown.active.open > a, .navbar .nav > li.dropdown.active.open > ul.dropdown-menu a:hover, .navbar .nav > li.dropdown.open > a, .navbar .nav > li.dropdown.open > ul.dropdown-menu a:hover {
    background-color: transparent;
}

.content {
    margin-left: 200px;
    margin-right: 200px;
    padding-bottom: 100px;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 300%;
    text-align: center;
}

p {
    font-family: 'EB Garamond', serif;
    font-size: 125%;
    text-align: left;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 200%;
    text-align: center; 
}

a.instagram, a.fb, a.email {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 25px;
    float: right;
}

.fa-envelope, .fa-instagram, .fa-facebook {
    color: black;
}
